.aboutSudio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin: 50px;
  line-height: 30px;
  opacity: 1;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #00bfff;
  padding: 20px;
}

.logo img {
  height: 30vh;
}

.text p {
  opacity: 1;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0;
}

.text p.animated {
  opacity: 0;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0;
}
