.parallax_wrapper {
  height: 100vh;
  overflow: hidden;
}

.parallax {
  position: relative;
  max-width: 100vw;
  top: -50px;
  z-index: -1;
}
.parallax_bg {
  position: absolute;
  max-width: 100vw;
  top: -50px;
  z-index: -1;
}
.parallax_castel {
  position: absolute;
  max-width: 100vw;
  top: -50px;
  z-index: -1;
}
.parallax_ground {
  position: absolute;
  max-width: 100vw;
  top: -50px;
  z-index: -1;
}
.parallax_pers {
  position: absolute;
  max-width: 100vw;
  top: -50px;
  z-index: -1;
}

.title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

h1 {
  color: #fff;
}

.zagl {
  width: 100%;
  height: 100%;
  z-index: -2;
}
